{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>El Autismo</title>
	

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	

	<!-- Page info section -->
	<section class="page-info-section set-bg" data-setbg="{% static 'core/img/home/mundoautismo.jpg' %}">
		<div class="pi-content">
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-xl-5 col-lg-6 text-white text-end">
						<h2>Acerca de el autismo</h2>
						<p>El Autismo afecta a alrededor de 2 de cada 100 niños a nivel mundial. El diagnóstico de esta condición es complejo, los síntomas pueden ser muy variados y requiere de una evaluación cuidadosa por parte de profesionales entrenados en reconocerlos.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page info section -->


	<!-- Page section -->
	<section class="page-section review-page spad">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" data-setbg="{% static 'core/img/home/autismo1.jpg' %}">
							
						</div>
						<div class="review-text">
							<h4>¿Qué son los Trastornos del Espectro Autista?</h4>
							<div class="rating">
								
							</div>
							<p>Los Trastornos del Espectro Autista, también conocidos como Autismo o Trastornos Generalizados del Desarrollo, corresponden a un grupo de alteraciones del neurodesarrollo que afectan las habilidades sociales y el lenguaje en los niños y tienen un impacto negativo sobre su capacidad de adaptación.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" data-setbg="{% static 'core/img/home/autismo2.jpg' %}">
							
						</div>
						<div class="review-text">
							<h4>¿Cómo se diagnostica el Autismo?</h4>
							<div class="rating">
								
							</div>
							<p>Los síntomas de los Trastornos del Espectro Autista son muy variados, en ocasiones pueden ser difíciles de detectar y existen otras condiciones, como el Retraso en el Desarrollo del Lenguaje, que pueden ocasionar síntomas similares a los del Autismo. Por estas razones es importante que tu niño sea valorado por un neuropediatra o un psiquiatra infantil que pueda reconocer y diagnosticar estos trastornos, así como descartar otras condiciones que puedan generar sus síntomas.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" data-setbg="{% static 'core/img/home/autismo3.jpg' %}">
							
						</div>
						<div class="review-text">
							<h4>¿Cómo detectar los Trastornos del Espectro Autista?</h4>
							<div class="rating">
								
							</div>
							<p>Los niños con Trastornos del Espectro Autista tienen grandes dificultades para la interacción social y la comunicación que limitan su adaptación al entorno y se manifiestan en síntomas como:</p><br>
								<ul style="list-style: none;">
									<li>
										Inadecuado uso del lenguaje:
									</li>
									<li>
										Dificultades para establecer relaciones con otras personas
									</li>
									<li>
										Problemas para expresar las emociones.
									</li>
									<li>
										Interés excesivo por ciertas actividades o temas.
									</li>
								</ul>
							
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="review-item">
						<div class="review-cover set-bg" data-setbg="{% static 'core/img/home/autismo4.jpg' %}">
						
						</div>
						<div class="review-text">
							<h4>Recomendaciones para los niños con Trastornos del Espectro Autista</h4>
							<div class="rating">
							
							</div>
							<p>Aquí hay algunos consejos que pueden seguir en la casa y en el colegio para ayudarlo a superar sus dificultades. Ten en cuenta que los síntomas en cada niño pueden ser distintos, por lo tanto, el tratamiento debe ser individualizado</p> <br>
							<ul style="list-style: none;">
								<li>Se consistente.</li>
								<li>Si debes hacer actividades con tu hijo por fuera de las rutinas establecidas, avísale con varios días de anticipación y recuérdaselo constantemente para que no lo tome por sorpresa. </li>
								<li>A los niños con Autismo les cuesta comprender las bromas, los sarcasmos o el doble sentido: háblale claramente y se específico.</li>
								<li>Evita gritar o alterarte cuando lo corrijas.</li>
							</ul>
						</div>
					</div>
				</div>
				
			
		</div>
	</section>
	<!-- Page section end -->


	<!-- Review section -->
	<section class="review-section review-dark spad set-bg bg-importante" data-setbg="{% static 'core/img/home/bg.jpg' %}">
		<div class="container">
			<div class="section-title text-white">
				<h2>Información Útil</h2>
			</div>
			<div class="row text-white">
				<div class="col-lg-3 col-md-6">
					<div class="info-item">
						<div class="info-cover set-bg" data-setbg="{% static 'core/img/home/1.jpg' %}">
						</div>
						<div class="info-text">
							<h5>Tipos de Terapia</h5>
							<p>Explora diferentes tipos de terapias disponibles para niños con TEA, incluyendo ABA, Terapia Ocupacional, y más.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="info-item">
						<div class="info-cover set-bg" data-setbg="img/info/2.jpg">
						</div>
						<div class="info-text">
							<h5>Estrategias Educativas</h5>
							<p>Conoce las mejores estrategias educativas adaptadas para niños con TEA, enfocadas en el aprendizaje individualizado.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="info-item">
						<div class="info-cover set-bg" data-setbg="img/info/3.jpg">
						</div>
						<div class="info-text">
							<h5>Recursos Digitales</h5>
							<p>Descubre aplicaciones y recursos digitales que pueden ayudar en el desarrollo de habilidades cognitivas y sociales.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="info-item">
						<div class="info-cover set-bg " data-setbg="img/info/4.jpg">
						</div>
						<div class="info-text">
							<h5>Testimonios de Padres</h5>
							<p>Lee las experiencias y consejos de otros padres sobre cómo manejan y apoyan el desarrollo de sus hijos con TEA.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Review section end -->


	<!-- Footer top section -->
	<section class="footer-top-section set-bg" data-setbg="{% static 'core/img/home/pattern.png' %}">
		<div class="container">
			<div class="footer-top-bg">
				<p class="title-autismo">AutismoPlan</p>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
						<h2 class="title-autismo">AutismoPlan</h2>
						<p>Lee mas sobre el autismo</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget mb-5 mb-md-0">
						<h4 class="fw-title">Articulos</h4>
						<div class="latest-blog">
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'core/img/home/autism3.jpg' %}"></div>
								<div class="lb-content">
									<a href="https://scp.com.co/wp-content/uploads/2016/04/2.-Trastorno-espectro.pdf">Bonilla M., Chaskel R. (2016). Trastorno del espectro autista. CCAP Volúmen 15 Número 1. </a>
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'core/img/home/autism2.jpg' %}"></div>
								<div class="lb-content">
									<a href="https://www.nimh.nih.gov/health/publications/espanol/trastornos-del-espectro-autista/index.shtml">National Institute of Mental Health (NIH). Trastornos del espectro autista. </a>
									
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{% static 'core/img/home/autism1.jpg' %}"></div>
								<div class="lb-content">
									<a href="https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/DE/CA/Protocolo-TEA-final.pdf">Ministerio de Salud y Protección Social de Colombia (2015). Protocolo clínico para el diagnóstico, tratamiento y ruta de atención integral de niños y niñas con Trastornos del Espectro Autista </a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- Footer top section end -->

	
	


	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'core/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'core/js/jquery.marquee.min.js' %}"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
	{% endblock %}
    </body>
</html>